* {
    font-family: 'Quicksand-Light';
    color: white;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(48, 48, 48);
}

.d-none{
    display: none;
    visibility: hidden;
}

h1 {
    letter-spacing: 2px;
    margin-top: 32px;
}

.topClass{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

#cityName{
    font-size: 32px;
    letter-spacing: 1px;
    background-color: rgb(39, 39, 39);
    padding: 8px;
    border-radius: 20px;
}

#temp {
    font-size: 48px;
    font-family: "Quicksand-Light";
    letter-spacing: 2px;
    background-color: rgb(39, 39, 39);
    padding: 8px;
    border-radius: 20px;
}

#grillOrNot{
    background-color: rgb(39, 39, 39);
    padding: 8px;
    border-radius: 20px;
    font-size: 18px;
}


#cityInput {
    border-radius: 100px;
    border: 0.5px solid gray;
    padding: 5px;
    width: 170px;
    height: 24px;
    background-color: gray;
}

#searchBtn {
    border-radius: 100px;
    height: 38px;
    background-color: gray;
    border: none;
}

#searchBtn:hover{
    cursor: pointer;
}

::placeholder {
    color: white;
}

#main-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container {
    margin-top: 64px;
    width: 90%;
    max-width: 880px;
    min-height: 440px;
    border-radius: 20px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

#bottom-container {
    margin-top: 32px;
    width: 90%;
    min-height: 200px;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 18px;
    margin-bottom: 112px;
}

.bottom-heading{
    margin-top: 48px;
    letter-spacing: 1px;
    margin-bottom: 0;
}

#sub-bottom-container1,
#sub-bottom-container2,
#sub-bottom-container3,
#sub-bottom-container4,
#sub-bottom-container5,
#sub-bottom-container6{
    height: 100%;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: rgb(36, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4px;
    max-width: 400px;
}

#minmaxContainer{
    margin: 0;
}

#grill-img {
    width: 50px;
    height: 50px;
}

.footer {
    width: 100vw;
    height: 40px;
    position: fixed;
    font-size: 10px;
    bottom: 0px;
    background-color: rgb(0, 0, 0);
    color: rgb(169, 169, 169);
}

.inner-footer{
    margin-left: 70%;
}

.backgroundClass1{
    background-image: url(./assets/flame.jpg);
    background-position: center;
}

.backgroundClass2{
    background-image: url(./assets/lightning.jpg);
    background-position: center;
}




@media (min-width:450px ) {
    #sub-bottom-container1,
    #sub-bottom-container2,
    #sub-bottom-container3,
    #sub-bottom-container4,
    #sub-bottom-container5,
    #sub-bottom-container6{
        width: 120px;
    }
}

@media (min-width:600px ) {
    #sub-bottom-container1,
    #sub-bottom-container2,
    #sub-bottom-container3,
    #sub-bottom-container4,
    #sub-bottom-container5,
    #sub-bottom-container6{
        width: 160px;
    }
}

@media (min-width:800px ) {
    #sub-bottom-container1,
    #sub-bottom-container2,
    #sub-bottom-container3,
    #sub-bottom-container4,
    #sub-bottom-container5,
    #sub-bottom-container6{
        width: 220px;
    }
}

@media (min-width:1000px ) {
    #sub-bottom-container1,
    #sub-bottom-container2,
    #sub-bottom-container3,
    #sub-bottom-container4,
    #sub-bottom-container5,
    #sub-bottom-container6{
        width: 280px;
    }
}

@media (min-width:1200px ) {
    #sub-bottom-container1,
    #sub-bottom-container2,
    #sub-bottom-container3,
    #sub-bottom-container4,
    #sub-bottom-container5,
    #sub-bottom-container6{
        width: 320px;
    }
}

@font-face {
    font-family: 'Quicksand-Bold';
    src: url(./assets/fonts/Quicksand-Bold.ttf);
}

@font-face {
    font-family: 'Quicksand-Light';
    src: url(./assets/fonts/Quicksand-Light.ttf);
}

@font-face {
    font-family: 'Quicksand-Medium';
    src: url(./assets/fonts/Quicksand-Medium.ttf);
}
